Source: easylist
Section: user/other
Priority: optional
Maintainer: Willem Liu <willem.liu@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/willemliu/EasyList-Harmattan

Package: easylist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EasyList is an easy shopping/todo list tool.
 EasyList is an easy shopping/todo list tool. You can create a list
 by entering text in a text area. Each new line represents a new item
 in the actual list.
 Some of EasyLists functions are:
 - Multiple list support
 - Sort alphabetically (can be turned on or off in Settings)
 - Sort checked items to bottom (can be turned on or off in Settings)
 - Lock portrait (can be turned on or off in Settings)
 - Lock landscape (can be turned on or off in Settings)
 The key focus is the ease of use.
XSBC-Maemo-Display-Name: EasyList
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAE8AAABQCAYAAAEvsxheAAAACXBIWXMAAAsTAAALEwEAmpwYAAAK
 T2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AU
 kSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXX
 Pues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgAB
 eNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAt
 AGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3
 AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dX
 Lh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+
 5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk
 5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd
 0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA
 4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzA
 BhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/ph
 CJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5
 h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+
 Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhM
 WE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQ
 AkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+Io
 UspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdp
 r+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZ
 D5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61Mb
 U2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY
 /R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllir
 SKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79u
 p+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6Vh
 lWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1
 mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lO
 k06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7Ry
 FDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3I
 veRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+B
 Z7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/
 0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5p
 DoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5q
 PNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIs
 OpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5
 hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQ
 rAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9
 rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1d
 T1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aX
 Dm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7
 vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3S
 PVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKa
 RptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO
 32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21
 e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfV
 P1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i
 /suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8
 IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADq
 YAAAOpgAABdvkl/FRgAAFzJJREFUeNqMzzFqhEAYxfH/SGxSOrdIs1cwEIUFKy9g4VVWMGcIQg5g
 ZZNimoG9wJ7Byk4QLQYcvy12N0UgMb/q8YoHT/FDWZZyj7ZpmtdHrwCKojiM43jhF13XKQWQZZmw
 4wlgXVd25XkuaZpK3/eyLIu0bSvGGAEkDEOp61qSJJFgnme89xxeNMe3Z7TW3yNRFFFVFdu2ETjn
 rPeej88vTu9njDEAiAjDMDBNE8652+s4jnfPBPyTeoS/Vq216goAAP//jJEhboRgGEQfUBA/HANP
 ajgA4g8Kz1FWdS+C5RIoAgcolgNwACgC8WUqmoo22W79m5eZTPDrlTfg/p3tum78YWya5qEtyzL6
 vg9e2rbVcRwPu+37/mWs6/rp4iRJwHuvoih0nqcSPlSWpQDleS5AgLz3Cs2M67pwznEpxcwASNMU
 SVRVhZkRmhnOOaZpYhxHoihCEsuyAHC73TAzgv+8Escx4bZt78/AYRiCcF3X17+geZ7vAJ8AAAD/
 /6SUP2vCQBjGn8RAgkRMwCkEhyD4BQJuIk5FkNJBSifp1sW9WwulkK/QJRRc3PoJHDO73JQ5kCWY
 ONySO+86SKL9A7X4bPe+8N7x3u95lO+N+Xwuq92dI9u238MwvP/BxHQ6lbhAlmVhuVwePDiZTC4a
 VqndbhfabDZ7qtApyxLb7RaMsS+MmaaJ9Xpd11zXRZIk9dkwDAyHQ+R5bqmMsWfOOTjnSNMUURSB
 EILXFwJCCIIgQFEUtTObzSYcx8FoNKp+DP1+H0IIcM5Re3+/30NKCUoFdAW4vjncLoSAlMeN9Ho9
 UEoxGAwAAIvFArqug3N+AKzb7d56nreqcoExBiHEMb80DY1GA1mWIc9zqKqKVqsFSmkda7Zto9Pp
 QFGU87PkHMVx/FhjMx6P5enL/qsoih4YY2/KL70r3/c/TNM0/hqy2WxWu93u7rT2CQAA//+slr9L
 G2EYxz/vm1ebO3LqqSSIIAQhTkINgUyljlJw6GYEoeif4NLRjv0jpGQqnVxLFwUnS0rbwQwOGSQo
 injGXo4mIXk61PeqtWIxvnDD+97d9/n5fr+PuuvjtbW151d8Nv/Xq43Nzc0397InwOrq6rsgCF79
 b5hDQ0OUy2X1T8Dl5WUJw/BB+fN9/2m5XP4eq9rKyopcXFw8uCDn5+ffrHMaIAgCRKSvp1QqCYAp
 lUpBo9Houwcthmk2myP99N+tKlv9EREajQZhGMZ31xjD6OgoJycnVKvV3+qrNePj45yensYg+Xye
 dDqN53kbxnrXarVYX19nYWEBrTXtNlxeBiwuvqBarSIiKKXwPA/HcWIwEWF2dpZer0e3293QvV7P
 bshkMqRSKVzXJeO7jI2N3OBGy8zT09PkcrnYSDqdxuLo65WK7/UzaMndyY+iiIODAwqFAsViEaUU
 IkIURcQhiwjdbpcnCj5//RPOdUPZbBbf99nb20NEcF2XmZkZBgcHMcaglMLYHxKJBFtbW3zaUVz+
 0OzuwtnZGY7j4HkeALVaDdu3AFEUAZDL5ZicnKTT6ezcUHArBfE8pTXGGNrtNsfHx3Q6HRzHQWtN
 s9mM1X1iYoJkMkmtVlsyAwMDceKNMRhjbuUtmUySzWbv7cHDw8MPen9//zWPuPTR0dHbxwCyM422
 9N2XV1pjZ5/ElVR+qdfrTE1NzT8EcHt7W90pAcPDw+/n5uaW7gMJw/BnpVJ5CXy8fv6LGfMJaeSK
 4/jnzSRMJ8lkEhuEIqIHoZcoUvyzN0X0UHrYgngREVsvXeihPRQ9le3VS3vbXqQi4qGIulcxsrcU
 D7KHFNJoRfBiRKeTTMJMzJDpoWaIMS6h3a77hTnNzJvvvPf783lPtONgcXHxKbDmum6sUqlQqVT+
 1dQoioKiKAQCARNYWF1dfdk24TdqYWFB9zzPfBt1t10SBGJra2uFNxqcn5/Xq9WqWU+qd61wOEww
 GIytr68X7hmcm5v7xTTNBd4DxWKxtY2NjS98g7Ozs0+LxeJuYyF9TAkhiEajn29ubr4MAFSr1d23
 2Zb/q24hehcQYmZmZsyyrFetHmrE+ObZFUIghECSJGRZRgiB4zgUCgUsy+Lm5sav/+FwmFAoRK1W
 w7IsbNv2xxNCoCgK0WgUTdNQFAXxz8YJTdPGA7Va7Xnz7LmuS7lcZnh4mLGxMRKJBLIs33lmf6/G
 4CcGR0dH7O3tEQwGyWQybG1tMTk52ZJKHcfxjTdreXmZ7e1tenp6kCSpvpd5HqjVaveqs+u6lEol
 pqenGRoaIhKJ3LmvKfDpZ/DdUgld19nZ2SEUCtFYlupoEo/HCYVC9Pf3I0kSo6OjFItFstks8Xgc
 wzDo6OjA8zySyaRv7tbguFRfxlaXLMt3XgBQBLz+HX7dxl/iOh81h0g+nyebzbKysoJpmkiShOu6
 5HI5lpaWMAwDIQS6rjMwMICiKPc8BBrjoXFwn+vD8P0P8Oxr+OjD1iz2UIzquk48HicSiaBpGhcX
 F+RyOQzD4PT0FCEEyWSSRCKBJEn3xrBtm0Cr0zEhBLIsk8/n+fPcoFzy+HJe8FcZbikLz/MwTZPr
 62s/SVoBZKFQIBgM4nkeruvieR5TU1Ps7+8DkMlkAOjs7KSrq4toNOqvmuu6iMHBwRexWOyrFmmO
 4zg4juNncqufUBQFVVURQnB5ecnx8XHLJJBl2T8yeqiL1CG2npCmaf4sgA8mJibs96kO1pnr4OBA
 lQDHtm2H90y3nhwJIJ1Oq8117jElyzLpdFq9c/KaSqXUVoH+GH04lUqpD/JgOBz+cWRk5Jt3DQ5C
 CA4PD38ql8vftkvUT/r6+l50d3cP/l9mhRCcn5+/Pjk5eQb81jZRv0HjwJNIJPJxIpHo1TStV1XV
 3uZu09CqsG37zLKss6urq7NSqfTHrZFX7X7wb2bNJ7ZpK47j32fHyXPdJl4dyhypJVTtVo0xISqY
 dusQRTsuBxhThWCAtO00jp02aZu0w6JNgu0wVRp/CidWLmgHLkUb0g7VUJimIiEm+iclCJeINk7q
 OjZp7B0Smzh1CmVA85OsHuL6/fzez7/3+35+b91Bd+zYsQiAI1VnRR8O5ukHAFCrf0fPnDmzLg3x
 tILpHIAjhmHANM01k23Dhk4ggGAwCEopqo5+9MzOHT16NAJA1XX9mdXbk5RdS0sLAIhnz57Nr0fJ
 /WEYxoBhvPicTSkFpfTa6Ojou0907vDhwzlVVcWXmVYIIRBFUT1//vwra0nMnKqq4gYqN/XChQuu
 g+4+dujQoc+Wlpbe38jioFQq0V27dqmTk5N/ebazcrl8yqnJNuqq9kJOuVULAAwNDZ1cT7frRVqh
 UMDQ0NBJ1znbtk9s5Iz5XCfctoCu62gWWlBLZdmDBw9+pev6AJrIyuUy+vv7EbBt+0Szle9OqAUs
 yxIbSUJHZ9bLSidxOgiDYRiUy2VomuZifcuyQAgBpRRtbW0IBAIoFovQNM3TW2BZFoIgIBKJQBAE
 V/xYliX6ykfLsmAYBorFIkzThN/MMgyDYDAInudBKYWu65iZmfG0VxyTJAktLS148OBBQ4SxZcsW
 xONxt6OysrJS0ba1g9u2DdM0oWkajh8/jp6eHlBKV2nX3y6beK1vFqdPnwYhBPl8Htls1vfD2rdv
 H65fv75mAUEpRSwWQygU8jrnp2kTiQR2796N3t5ecBznuWfnWwDHreDDoXZkMhmMj497Bq59EZZl
 IcsyOjo6IEkSFhcXV4134MAB8Dzv6WKsrKw8bsTUI7NoNApJkhAOhz2DTU8Bs9OAYdmYnRUhiqIv
 VwEqXfFQKARBEBAMBhGNRmEYBhRFwfz8PKanp5HL5XDp0iVs27atcgqkxo+AbdueBzsDOYFev5xv
 9AI//fw47hzo47ec6XQakUgEsiy79ZvD9vbu3Yvu7m4QQiDLMtrb20EIcX1xW1i1D/aDN459+TnQ
 2gp8/ClQe8tawAgAZFmGIAgAAEVRsLy8jPHxcQwPD4NlWcRiMZe51D5jzRNEO7dXltGx778DsurT
 1We1l8NaVFXF3bt3kUqlAADJZBI9PT1oa2vzhUWB+iWpnbnkD5VlNO0KJvvmW6ARLPCb7c7OTrd5
 WCqVMDc3h+7ubvT394MQgk2bNkGSJF9MZlmW/7I6W8jgexbe3G4jRAiCQWD4i9X5sFG8UUohiiJY
 loVlWchmsygUCsjn80gmk+49S0tLME0ToVCocuSoKjVt20agEb9bWFjA4uIifv+zHW/3c/h78jG/
 cz51VVVdulm/LIZh4ObNmwAAnudRLBYxNjbmMmMAyGQyyGQyoJSis7MT0WjUUWeVZXU6xvVwZWxs
 DJIkYWFhAb+c43HjhvclTNPEzMwMrly5Ao7jVqUBDxC/ehWDg4PYv39/wxBw0paThAkhCNQrdkII
 OI4Dz/MYGRnBo0ePGm5fHMeBUgqO49Da2uoewlnrQ2lkXV1dHsrPMMxq55wfnEEbxZSz8TsXz/Po
 6uqCKIowDMN9IY7jEAqFwLIsnA5m7fOcscLhsGf2GYZBoFAoGMFgkDZqnKxH0YfDYYTD4edVrhtM
 Lpe7iCa0XC53kQCI79mzZ7aZCs4qK97KAEg3A+H0+XDSDADMzc1daybnHH8YAJiamko0C8RmWRZT
 U1OJWsWv3rp163IzOFf1Q/XgCEVREpqmbWifQtM0Q1GUhAdHOJZKpbbqur4hDuq6bqRSqa1Pgoev
 9vX1TciyHH8ZFIAQAkVR0rdv334HwLwn/vxm9+HDhz/eu3cPmzdvHvA7OvW8zDRNTExMfJ3NZhMA
 tPUCaxHAJ729vR/EYrEdzyMf2raN+/fv/3Pnzp1fAYw4wf9/UX8cwADLsq93dHTsiEQicY7jqCAI
 8Ub/sLy8nC6VSkY+n09ns9l/yuXyv1Xsn36aAf9j5+pC28iu8DfSeDyypNFYmMiui+2EJOs4FJuV
 aPzQbLyQkDzsQ1/ijWlMnKQPeSlbSsEuLW1autQutGyfsg3bOOBAurg/pNDdQgL1vqROYycOtR0Z
 EiMbbGkUBSmjGWk8+pk+SHd2JI0syflZb+IDlxFYc3117rn3/H3nvBTVkMfq9uVHT34HYIRAEnVp
 luutVlbJ3WwMixiMlRiAuTwzpoz1Dy/svDzPy+fOnWsH8EPkkjp8KpWCqqpIpVLbKuRHbGiGYUgA
 IwbgKoCPrly5svLKmHf27NkPAFzMZrN8MpksGzv6OhCJlVkslhiAi+Pj43944cwbGhrqBjCVyWR4
 WZa3lKHb7kSimVarNQag7+rVqw+ei3lnzpzpBjClqir/VSEcvwrKh+9iAPpIZUJNzBscHPx3JpPp
 22pJxOtADocDVqt1amJi4t2qmDc4OOgCEEgmk/yrSA9vd2JZFjabLQagY2Ji4llZ5p0+fbodQCCR
 SHytFcHLUCx5kELHtWvXVkwdH03T5nYYV0qqqpKM65yp7zMwMDCuqmrvzlE1p0wmA4qi2O7u7o75
 +fkb+rEdGBg4AmBKFMVtZdxuN8oj8gGg7/r161/QebfpYrnI9Q4VOuWKooBhmIsA3qX6+/tdAGK1
 GL9EOoufte6i8Wn8TLKdRj+4XGq1OPJvNke5rIFxjmLoQPF8xcY0AJ7WNG2ILLISw4z4BVJeXc3i
 yi2WLJSm6YIUbzqdRiKRgCRJiMViEEURyWTSdI00TYNlWdjtdjgcDj1RlEqlIMsyJElCMpksqbss
 prq6Oh0v4XK54HA49JSNkYEEu2GxWIZoTdP6KjnyRsgUcf7T6TT279+PAwcO6Nkts50qpmw2i1Qq
 BUmSEAqFcP/+fYiiiPr6ejAMo+e8BUHA2toabt68aVpaYkbHjx/HnTt3QFEUkskktqL8RkZGcOnS
 JbS2tsLtduvSaKRUKgWGYfpoTdP4SpJDJFNVVSiKgn379uHw4cNob2+Hx+MBx3EFidVy9N87wPfe
 1wCk8dcbcbz9dhhdXV24ffs25ufn9aMmyzKePHlS8v6xY8c2nX9paakAk1Lp+0CuBQDJy0ajUVy+
 fLkkc2mW1dY0jac1TeurpkUKOU4bGxs4dOgQ9u7di46ODr00uZLUjX4I/OJnOfX+t39k8J13JAiC
 HRRFIRqN4t69ezpogUh3MZGiEXLMCGyJQIJdLpeOmclkMlhdXQWBGyuKAtLAgdDRo0d1xk1OTqK/
 vx9Arq2E0+ksObKE0ul0TvKI1FWSPOPlTSBPJJVfKWH03feAz/8JuFy52qWWb1ggy1Y9xsaybM13
 JymKIcyrr68vWBPZTOM1EQ6Hsb6+ntvM0VEMDw/rR3VsbAx1dXU6AqChoUEHFZmhWQowFdXceeQz
 ufArkSQB3+oE1teAd44AN6fIfCiZoxhQWXluCcagBc/zcLvd4DhOBzUR70AURQiCoOPaZmZm4PV6
 EY1G4fP5sLy8DI7j0NraCp7nwbJsAbajHD8sW0GKEgquA5GI+Y97MJdD2KyvAb/93ZeMq8YEqkbj
 F4/JyUkQ15IoNlmWEYlEEAgEEA6H4fV6oWkavF4vZmdn4Xa7sby8DI/Hg/b2drjd7hLGlfv9mqbB
 QjRSrYwDgAvfB/a15zonGK2I8T8B38439/mfH/jgR7XZjuWYWIyvIuZFU1MTzp8/D7fbDZvNBk3T
 dG3+6NEjxONxDA8P6/irkZER+Hw+WCwWtLW16RLHMIze1aHSUBTly64PtVramqbhxmfA8I+Bv/8F
 aKCBn/4cEELAJ5eB7h7gPzOb47q26go6HA60tLTA6XSWGLTZbBaSJCESiUAQBAAoMHd8Ph9mZ2d1
 FCfP8zrIjWBozQx4s7XTtXgJZGJiQ21sbOCPn6Tw+48yONpnwYe/yv2zX/66FHNmZvoQraooCmrJ
 aUqShEAgoIN/aZrWNaOqqnj69CnS6TT27NmDmZkZNDY2Ynl5GT6fT+/OoSgK1tbWEIlE9PeJ0iEK
 kSjDYhNMb8sSj8cDLperYzMPgygJqzWnIaenp/WeS/F4HBzH4bObdUinKWQyAMsCKyvl5yLvCYKA
 lZUVPHz4UPcyNE2D1WoFwzAl5kolYzkajWI2j3k7efKkbobcunULY2Nj8Hq9VW3M6uoqeJ6H3W43
 xTJbLBY8e/YsQPX29n7udDpPbOa+GN0yow3m9Xqxe/duOBwOMAyDajAuRtMhGAzi7t27SCaTpNdF
 gZEcCoVq8jAI3m+r/jaZ49SpUzoukGXZkm4udXV1iMfj/6K6u7uHPR7PaKUAqPGyJMeO2H213l9G
 R9wsYU2OsizLEEURkiTpxdBmczEMow+yAQT2p6pqxbWROWw2G+x2O5xOJxoaGkogqcbIsiAIIxTP
 82/19PT4zZCg1UZVat1ps0hKuahKcWSkXD8I4yhnPVS7mZtFVQif5ubmOulYLLYkSZLf5XJ1VhuS
 qqSNXkTQ0Wq1YjvVaxfdd/5YLLZkAYBgMDi63RCN2zmaHAwGR/UcRjwef2Cz2U5wHPfNnTB8ebJa
 rQiFQtOPHz/+QUH2bGFh4awsy0otkOg3ifLN1pSFhQW9kNvIKf/i4uKQqqrYOcKlR1VVVSwuLg4B
 8OuSaPzSxsbGQigU8jc1Nb3HMAy9w7Yc4xKJhDI7O3s6kUh8WvC3Mu/0dnV1XW9ubu54kzNqFosF
 oVAosLi4OACTNhqbnU/Wbrf/5uDBgxfsdjv7JikSiqLI/faxLMs/AWCaDKnmcmu22+3DnZ2dFziO
 e62ZSFEURFFU/H7/x7Isj6EIWr4V5umSCOCUx+N5v62trc/hcLwWjKQoCpIkKaurq1OCIHwK4M/l
 JO15mFfMyBMMwxxpaWnp3bVrV09DQwNrVj+53RiVzWaRSCSUcDg8FwwGp1VV/QK5DqA15ylfpE3S
 SYbT6XyrsbGxg+O4DpZlm2maZo0llS+bFEVBOp1WFEUJiaIYiEajgXg8vpQ3M/xGc+O5NuMV/R4W
 QHN+sIYnkKuf2CoFCL/y9xN5hrYiSbXS/wcAGcyvIvzrib8AAAAASUVORK5CYII=
